---
interface Props {
}

const {} = Astro.props;
---

<div class="relative -z-10 mt-32 px-6 lg:px-8 pt-20">
    <div class="absolute inset-x-0 top-1/2 -z-10 flex -translate-y-1/2 transform-gpu justify-center overflow-hidden blur-3xl sm:bottom-0 sm:right-[calc(50%-6rem)] sm:top-auto sm:translate-y-0 sm:transform-gpu sm:justify-end"
            aria-hidden="true">
        <div class="aspect-[1108/632] w-[69.25rem] flex-none bg-gradient-to-r from-green-600 to-yellow-200 opacity-75"
             style="clip-path: polygon(73.6% 48.6%, 91.7% 88.5%, 100% 53.9%, 97.4% 18.1%, 92.5% 15.4%, 75.7% 36.3%, 55.3% 52.8%, 46.5% 50.9%, 45% 37.4%, 50.3% 13.1%, 21.3% 36.2%, 0.1% 0.1%, 5.4% 49.1%, 21.4% 36.4%, 58.9% 100%, 73.6% 48.6%)"></div>
    </div>
    <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-5xl font-bold tracking-tight text-black">
            Welcome to America’s Most Reliable Movers!
        </h2>
        <p class="mx-auto mt-6 max-w-xl text-xl leading-8 text-black">
            Whether you are moving your home or office within the Tampa Bay area, or to any destination in Florida, or Minnesota, Let America’s Most Reliable Movers focus on making this move your best move!
        </p>
        <div class="mt-10 mb-7 flex items-center justify-center gap-x-6">
            <a href="#"
               class="rounded-md mb-7 bg-black px-3.5 py-2.5 border border-black text-lg font-semibold text-white shadow-sm hover:bg-white hover:text-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black">
                Contact Now
            </a>
            
            <a href="#" class="rounded-md mb-7 bg-green-500 px-3.5 py-2.5 border border-black text-lg font-semibold text-white shadow-sm hover:bg-white hover:text-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black">Request a Quote <span
                    aria-hidden="true">→</span></a>
        </div>
    </div>
    <div class="absolute left-1/2 right-0 top-full -z-10 hidden -translate-y-1/2 transform-gpu overflow-hidden blur-3xl sm:block"
            aria-hidden="true">
        <div class="aspect-[1155/678] w-[72.1875rem] bg-gradient-to-tr from-[#7adf7c] to-[#ffd91e] opacity-30">
        </div>
    </div>
</div>